Repository IHE/DEV.SDPi, pull requests merged in 2025-04, with the labels that each got.

#344 Added Unique Localized Text Catalog Identification section to volume 3
  CHANGELOG.md
  asciidoc/volume3/biceps-content-module/tf3-ch-8.3.2.9.8-localized-text-catalog-identification.adoc
  asciidoc/volume3/tf3-ch-8.3.2-biceps-content.adoc
Labels: Volume 3

#354 Resolution of issue "Non slewing time adjustments #203" V2
  CHANGELOG.md
  asciidoc/images/vol1-diagram-use-case-stad-cns-linear.svg
  asciidoc/images/vol1-diagram-use-case-stad-cns-non-linear.svg
  asciidoc/images/vol1-diagram-use-case-stad-cns-schedule.svg
  asciidoc/images/vol1-diagram-use-case-stad-ns-back-forth.svg
  asciidoc/images/vol1-diagram-use-case-stad-ns-back.svg
  asciidoc/images/vol1-diagram-use-case-stad-ns-forward.svg
  asciidoc/images/vol3-diagram-biceps-ext-non-slewing_adj.svg
  asciidoc/images/vol3-diagram-biceps-ext-non-slewing_time.svg
  asciidoc/listings/vol3-clause-biceps-content-example-timestamp-version.xml
  asciidoc/volume0/tf0-ch-d-glossary.adoc
  asciidoc/volume1/tf1-ch-b-ref-standards-conformance.adoc
  asciidoc/volume1/use-cases/tf1-ch-c-use-case-stad.adoc
  asciidoc/volume3/biceps-content-module/tf3-ch-8.3.2.9.1-extension-constraints.adoc
  asciidoc/volume3/biceps-extension-provisions/tf3-ch-8.3.2.9.8-extension-timestamp.adoc
  asciidoc/volume3/biceps-extension-provisions/tf3-ch-a-xml-schemas-timestamp-version.adoc
  asciidoc/volume3/tf3-ch-8.3.2-biceps-content.adoc
  asciidoc/volume3/tf3-ch-a-xml-schemas.adoc
  sources/extension-models/SdpiExtensions.xsd
  sources/extension-models/timestamp/TimeStampVersion.xsd
Labels: Volume 1, Volume 3, Spec

#438 HL7 2025-Jan: Clarification on ACNS 5.1 - Added SES discussion for SDPi-A risk management section
  CHANGELOG.md
  asciidoc/volume1/tf1-ch-12-sdpi-a.adoc
  asciidoc/volume1/tf1-ch-b-ref-standards-conformance.adoc
Labels: HL7 Ballot
